<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Items</title>
  </head>
  <body>
    <main>
      <h1>Items</h1>
      {% if items %}
      <ul>
        {% for item in items %}
        <h3>{{ item.name }}</h3>
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name }}" />
        {% else %}
        <p>No image available</p>
        {% endif %} {% endfor %}
      </ul>
      {% else %}
      <p>No items found yet.</p>
      {% endif %}
    </main>
  </body>
</html>
